[Unit]
Description=HomeBot Discord Bot
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home-server/vaultling/HomeBot/bin/Release/net10.0/publish
ExecStart=/home/pi/.dotnet/dotnet HomeBot.dll
EnvironmentFile=/home-server/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
